@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

// Fonts
$main-font: 'Montserrat', sans-serif;

// Colors
$main-cl: #ffffff;
$second-cl: #2873d0;
$third-cl: #141414;
$fourth-cl: #a1a1a1;

// Sizes
$logo-bg: 42px;
$logo-small: 22px;
$btn-standar: 14px;
$title-stander: 32px;
$title-bg: 52px;
